body{
	text-align: center;
}

header{
	background-color: #00cc99;
}

.line-break {
	white-space: pre;
}



/* NAVIGATION TOP START */

.navigation{
	list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li{
	float: left;
}

a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
	background-color: #111;
}

/* NAVIGATION TOP END */


footer{
	background-color: #00cc99;
}

footer p {
	margin-top: 0;
	margin-bottom: 0;
}

.float-left{
	float:left;
}

ul{
	list-style-type: none;
}


.container{
	border: 1px solid black;
	width: 80%;
	margin: 0 auto;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}


.border-left {
	border-left: 1px solid black;
}


.first-section {
	width:25%;
	float:left;
}

.second-section {
	width: 74%;
	float:right;
}
